:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}


.select-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    font-size: 12px;
    color: grey;
  }
}

select {
  height: 28px;
  width: 140px;
  border-radius: 4px;
  border: 1px solid grey;
}

.timeframe {
  align-self: center;
}

.scatter-plot-data {
  display: flex;
  flex-direction: column;
}

.market-cycle-data {
  display: flex;
  flex-direction: column;
  .controls {
    display: flex;
    align-self: center;
    gap: 16px
  }
}
