.quant-sim-simulation-table {
  .row-red {
    background-color: red;
  }

  .row-green {
    background-color: green;
  }

  .center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
