<section class="top-section">
  <div class="stats">
    <!-- <label>({{closedRed().length}} out of {{(filteredRows() || []).length}} items closed red. {{closedRedPercent()}}%)</label> -->
  </div>
  <div class="filterText">
    @for (filter of filterText(); track filter.key) {
      <mat-chip-row>
        {{filter.expression}}
        <button matChipRemove>
          <mat-icon (click)="remove(filter.key)">cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </div>
  <div class="upload-button">
    <mat-icon class="upload-icon" (click)="uploadFile.click()">cloud_upload</mat-icon>
    <input type="file" class="upload-file" accept=".xlsx, .csv" #uploadFile (change)="onFileChanged($event)" />
  </div>
</section>
<ag-grid-angular
(gridReady)="onGridReady($event)"
[gridOptions]="gridoptions"
class="ag-theme-quartz"
[rowData]="rowData()"
[columnDefs]="colDefs">
</ag-grid-angular>
