:host {
  display: flex;
  margin: 16px;
  flex-direction: column;
}

.action-buttons {
  align-self: flex-end;
}

.info {
  display: flex;
  gap: 24px;
  .stock-info, .stock-stats {
    display: flex;
    flex-direction: column;
  }
}
